<div class="wrapper">
  <app-sidebar />
  <div class="color-line"></div>

  <app-topbar
    (settingsButtonClicked)="onSettingsButtonClicked()"
    (mobileMenuButtonClicked)="onToggleMobileMenu()"
  />
  <div class="page-content">
    <div class="page-container">
      <router-outlet />
    </div>
    <footer class="footer">
      <div class="page-container">
        <div class="row">
          <div class="col-md-6 text-center text-md-start small text-muted">
            {{ year }} &copy; TransCI - Plateforme de gestion du transport
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </footer>
  </div>
</div>