NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
CORS_ORIGINS=http://localhost:4200

DB_HOST=localhost
DB_PORT=5432
DB_USER=transci
DB_PASSWORD=transci
DB_NAME=transci_ci
DB_SYNCHRONIZE=false
DB_LOGGING=true

JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

DEFAULT_DEPOSIT_XOF=2000
