<a routerLink="/dashboard" class="logo d-flex align-items-center">
  <span class="logo-light d-flex align-items-center gap-2">
    <span class="logo-lg d-flex align-items-center gap-2">
      <img [src]="bannerLogoSrc" alt="TransCI" style="height: 2.4rem !important; object-fit: contain" />
      <span class="brand-name text-uppercase fw-bold lh-1">TransCI</span>
    </span>
    <span class="logo-sm">
      <img [src]="toggleLogoSrc" alt="TransCI" style="height: 45px !important; margin: 10px 2px !important; object-fit: contain" />
    </span>
  </span>
  <span class="logo-dark d-flex align-items-center gap-2">
    <span class="logo-lg d-flex align-items-center gap-2">
      <img [src]="bannerLogoSrc" alt="TransCI" style="height: 2.4rem !important; object-fit: contain" />
      <span class="brand-name text-uppercase fw-bold lh-1">TransCI</span>
    </span>
    <span class="logo-sm">
      <img [src]="toggleLogoSrc" alt="TransCI" style="height: 45px !important; margin: 10px 2px !important; object-fit: contain" />
    </span>
  </span>
</a>